<div id="<%= dom_id poste %>">
  <p>
    <strong>First name:</strong>
    <%= poste.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= poste.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= poste.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= poste.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= poste.twitter %>
  </p>

</div>
